# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
cef_artifacts/libcef.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/~libgdcef.dll filter=lfs diff=lfs merge=lfs -text
addons/gdcef/thirdparty/cef_binary/Debug/cef_sandbox.lib filter=lfs diff=lfs merge=lfs -text
addons/gdcef/thirdparty/cef_binary/Debug/libcef.dll filter=lfs diff=lfs merge=lfs -text
addons/gdcef/thirdparty/cef_binary/Release/libcef.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/chrome_100_percent.pak filter=lfs diff=lfs merge=lfs -text
cef_artifacts/resources.pak filter=lfs diff=lfs merge=lfs -text
cef_artifacts/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
cef_artifacts/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
cef_artifacts/vk_swiftshader_icd.json filter=lfs diff=lfs merge=lfs -text
cef_artifacts/libgdcef.lib filter=lfs diff=lfs merge=lfs -text
cef_artifacts/locales filter=lfs diff=lfs merge=lfs -text
cef_artifacts/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/GDCEF_VERSION.txt filter=lfs diff=lfs merge=lfs -text
cef_artifacts/chrome_200_percent.pak filter=lfs diff=lfs merge=lfs -text
cef_artifacts/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/gdcef.gdextension.uid filter=lfs diff=lfs merge=lfs -text
cef_artifacts/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/vulkan-1.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/libEGL.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/libgdcef.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/chrome_elf.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/dxcompiler.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/gdCefRenderProcess.exe filter=lfs diff=lfs merge=lfs -text
cef_artifacts/gdcef.gdextension filter=lfs diff=lfs merge=lfs -text
cef_artifacts/icudtl.dat filter=lfs diff=lfs merge=lfs -text
cef_artifacts/dxil.dll filter=lfs diff=lfs merge=lfs -text
cef_artifacts/libgdcef.exp filter=lfs diff=lfs merge=lfs -text
bin/lifcef.dll filter=lfs diff=lfs merge=lfs -text
bin/libgdcef.dll filter=lfs diff=lfs merge=lfs -text
